#loading-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: black;
	text-align: center;
	z-index: 2;
}

#loading-text {
	position: absolute;
	top: 50%;
	left: 49%;
}

#loading-content {
	display: block;
	position: relative;
	left: 49%;
	top: 50%;
	width: 237px;
	height: 237px;
	margin: -85px 0 0 -85px;
}

#loading-content:after {
	content: '';
	position: absolute;

	left: 15px;
	right: 15px;
	top: 15px;
	bottom: 15px;
}

#loading-content:before {
	content: '';
	position: absolute;
	border: 3px solid #00f;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
}

#loading-content {
	border: 3px solid transparent;
	border-top-color: #4d658d;
	border-bottom-color: #4d658d;
	border-radius: 50%;
	-webkit-animation: loader 2s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loaer 2s linear infinite;
	animation: loader 2s linear infinite;
}

#loading-content:before {
	border: 3px solid transparent;
	border-top-color: #d4cc6a;
	border-bottom-color: #d4cc6a;
	border-radius: 50%;
	-webkit-animation: loader 3s linear infinite;
	-moz-animation: loader 2s linear infinite;
	-o-animation: loader 2s linear infinite;
	animation: loader 3s linear infinite;
}

#loading-content:after {
	border: 4px solid transparent;
	border-top-color: #84417c;
	border-bottom-color: #84417c;
	border-radius: 50%;
	-webkit-animation: loader 1.5s linear infinite;
	animation: loader 2s linear infinite;
	-moz-animation: loadr 2s linear infinite;
	-o-animation: loader 2s linear infinite;
}
.loading-img {
	display: block;
	position: absolute;
	top: -60px;
	left: -24px;
	color: #999;
	width: 200px;
	height: 200px;
	margin: -7px 0 0 -45px;
	text-align: center;
}
.quote {
	color: white;
}
.author {
	color: white;
}

@-webkit-keyframes loaders {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
