.style-switcher {
	position: fixed;
	right: 0px;
	top: 2px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: flex-start;
	height: 100px;
	padding: 15px;
	width: 280px;
	border: 1px solid var(--bg-black-50);
	background-color: var(--bg-black-100);
	z-index: 1;
	border-radius: 5px;
	transition: all 0.3s ease;
	transform: translateX(100%);
}
.style-switcher .s-icon {
	position: absolute;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 20px;
	background-color: var(--bg-black-100);
	color: var(--text-black-900);
	right: 100%;
	top: 13px;
	margin-right: 4px;
	border: 1px solid var(--bg-black-50);
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 50%;
}
.style-switcher .s-icon:hover {
	background-color: var(--skin-color);
}
.style-switcher.open {
	transform: translateX(-2px);
	transition: 0.5s;
}
.style-switcher .s-icon i {
	line-height: 40px;
}
.style-switcher .day-night {
	position: absolute;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 20px;
	background-color: var(--bg-black-100);
	color: var(--text-black-900);
	border: 1px solid var(--bg-black-50);
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 50%;
	top: 45px;
	margin-right: -225px;
}
.style-switcher h4 {
	margin: 0 0 10px;
	color: var(--text-black-700);
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
}

.style-switcher .colors span {
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 1px solid red;
}
.color-picker {
	margin-right: 20px;
	border: none;
}
.style-switcher .reset {
	position: absolute;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 20px;
	background-color: var(--bg-black-100);
	color: var(--text-black-900);
	border: 1px solid var(--bg-black-50);
	cursor: pointer;
	transition: all 0.5s ease;
	border-radius: 50%;
	top: 45px;
	margin-left: 70px;
}
.style-switcher .reset:hover {
	background-color: var(--skin-color);
}
.style-switcher .reset .fa {
	margin-top: 10px;
}
.day-night .fa {
	grid-area: 1 / 1 / 2 / 2;
	animation: wave 12s ease infinite;
	animation-duration: 2.5s infinite;
}

.player {
	position: absolute;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 20px;
	background-color: var(--bg-black-100);
	color: var(--text-black-900);
	border: 1px solid var(--bg-black-50);
	cursor: pointer;
	transition: all 0.5s ease;
	border-radius: 50%;
	top: 45px;
	margin-left: 120px;
}
.player:hover {
	background-color: var(--skin-color);
}
.player .fa {
	animation: wave 6s ease-in-out infinite;
	animation-duration: 2.5s infinite;
	margin-top: 10px;
	grid-area: 1 / 1 / 2 / 5;
}
.fa-music:before {
	padding-right: 2px;
}
.nav__switch-lang div {
	position: absolute;
	height: 40px;
	width: 40px;
	font-size: 20px;
	background-color: var(--bg-black-100);
	color: var(--text-black-900);
	border: 1px solid var(--bg-black-50);
	cursor: pointer;
	text-align: center;
	transition: all 0.5s ease;
	border-radius: 50%;
	right: 5px;
	margin-top: 25px;
	font-weight: 700;
}
.nav__switch-lang div:hover {
	background-color: var(--skin-color);
}
#iconLang {
	padding-top: 3px;
	padding-left: 1px;
	text-align: center;
	top: 20px;
}

@keyframes wave {
	0% {
		transform: rotate(0deg);
	}

	10% {
		transform: rotate(20deg);
	}

	20% {
		transform: rotate(-10deg);
	}

	30% {
		transform: rotate(20deg);
	}

	40% {
		transform: rotate(-6deg);
	}

	50% {
		transform: rotate(12deg);
	}

	60% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(0deg);
	}
}
